<div class="onboarding-header">
  <div class="onboarding-logo-container row text-center">
    <a href="/">
        <img class="logo-default" src="https://storage.ko-fi.com/cdn/brandasset/logo_white_stroke_small.png" alt="Ko-fi Logo" height="38" style="height:38px;">
    </a>
  </div>
  <div class="white-onboarding-container col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="row">
        <div class="col-xs-12 text-left"><h2>I'm here to...</h2></div>
        <div class="col-xs-12">
            <div class="hidden progress" style="height: 10px">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="padding-top: 11px; width: 0%">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 ">


            <button (click)="makeMoney()" class="mb kfds-c-form-border bg-white p-16 text-left kfds-lyt-between kfds-srf-rounded-8 kfds-lyt-width-100 kfds-srf-shadow">
                <div class="kfds-lyt-column kfds-lyt-width-100">
                    <i class="far fa-lightbulb kfds-font-size-24 kfds-font-clr-primary hidden"></i>
                    <span class="kfds-font-bold kfds-font-size-18"> Make money on Ko-fi</span>
                    <p class="hint">as a creator or fundraiser  </p>
                </div>
                <i class="far fa-chevron-right kfds-font-size-20"></i>
            </button>
            <button class="mb kfds-c-form-border bg-white p-16 text-left kfds-lyt-between kfds-srf-rounded-8 kfds-lyt-width-100 kfds-srf-shadow">
                <div class="kfds-lyt-column kfds-lyt-width-100">
                    <i class="fas fa-hand-holding kfds-font-size-24 kfds-font-clr-primary hidden"></i>
                    <span class="kfds-font-bold kfds-font-size-18"> Support others</span>
                    <p class="hint">to help creators do what they love  </p>
                </div>
                <i class="far fa-chevron-right kfds-font-size-20"></i>
            </button>
            <div class="p-16 grey-container kfds-lyt-row-respon kfds-btm-mrgn-24 kfds-srf-rounded-8">
                <div class="kfds-right-mrgn-24">
                    <span class="kfds-font-size-medium kfds-font-clr-primary">💡</span>
                </div>
                <div class="kfds-border-left kfds-pdg-respon-24 kfds-font-clr-dark-op-8">
                    Everyone can give support and you can change your account type at any time.
                </div>
            </div>

            <!-- <a href="#" class="hidden btn-fullwidth btn btn-primary upload-result">Next</a> -->

        </div>
    </div>

</div>
</div>
