<app-navbar></app-navbar>
<div class="main">
  <section>
    <div class="kfds-lyt-column kfds-lyt-center">
      <div class="ds-c-centered-content">
        <h1 class="text-center-to-left"> Everything you need to make money doing what you love</h1>
        <div>
          <p class="kfds-font-size-28-to-20 kfds-font-clr-dark-op-8 text-center-to-left">
            Join 1M+ creators getting donations, memberships and sales from fans!
          </p>
          <div class="kfds-top-mrgn-32  kfds-lyt-column kfds-lyt-center">
            <!-- Claim Form -->
            <form autocomplete="on" id="sign-up-form" name="sign-up-form" class="kfds-c-claim-wrapper has-validation-callback">

                <div class="kfds-lyt-between kfds-lyt-width-100">
                    <div class="input-group-prepend kfds-lyt-width-100">
                        <span class="input-group-text kfds-font-size-20" id="basic-addon3">ko-fi.com/</span>
                        <input type="text" class="kfds-c-claim-input input-handle" id="txtHandle" aria-describedby="basic-addon3" placeholder="yourname" onfocus="this.placeholder = ''">
                    </div>
                    <input class="kfds-c-btn-primary kfds-font-bold kfds-srf-rounded ds-btn-large" value="Claim" type="button" routerLink="/account/register">
                </div>
            </form>
            <div class="kfds-font-16-to-14 inline kfds-top-mrgn-16 kfds-font-clr-dark-op-8">
                $6 million earned on Ko-fi last month!
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="kfds-lyt-width-100 ds-hero-wrapper">
      <div class="ds-bg-container"></div>
    </div>
  </section>
</div>
